#Everything is better send to GitHub Secrets, except FLASK_ENV and LOGGING_LEVEL
# Database configuration
DATABASE_URL=postgresql+psycopg2://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>

# Flask secret key (change in production!)
SECRET_KEY=your-secret-key-here

# Mail configuration
MAIL_USERNAME=your-email@example.com
MAIL_PASSWORD=your-email-password
MAIL_DEFAULT_SENDER=your-email@example.com

# Flask environment: development | production | testing
FLASK_ENV=development

# Logging level: DEBUG | INFO | WARNING | ERROR | CRITICAL
LOGGING_LEVEL=INFO

# Google OAuth credentials
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# PostgreSQL service variables (for docker-compose or local db)
POSTGRES_USER=your-db-username
POSTGRES_PASSWORD=your-db-password
POSTGRES_DB=your-db-name

# pgAdmin (optional)
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=your-pgadmin-password

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

#ElasticSearch
ELASTIC_PASSWORD=passwordElastic
ELASTICSEARCH_HOSTS=http://elasticsearch:9200
ELASTICSEARCH_PASSWORD=passwordElastic

#Fluentd
FLUENTD_ELASTICSEARCH_HOST=elasticsearch
FLUENTD_ELASTICSEARCH_PORT=9200
FLUENTD_ELASTICSEARCH_USER=elastic
FLUENTD_ELASTICSEARCH_PASSWORD=passwordElastic