# Everything is better send to GitHub Secrets, except FLASK_ENV and LOGGING_LEVEL

# Flask
FLASK_APP=run.py
FLASK_ENV=development                       # development | production | testing
SECRET_KEY=your-secret-key-here             # generate: python -c "import secrets; print(secrets.token_hex(32))"
APP_BASE_URL=http://localhost:5050

# Database configuration
DATABASE_URL=postgresql+psycopg2://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>
POSTGRES_USER=your-db-username
POSTGRES_PASSWORD=your-db-password
POSTGRES_DB=your-db-name

# Security
EMAIL_CONFIRM_SALT=your-email-salt-here     # generate: python -c "import secrets; print(secrets.token_hex(32))"

# Mail configuration
MAIL_USERNAME=your-email@example.com
MAIL_PASSWORD=your-email-password           # use an App Password, not your real Gmail password
MAIL_DEFAULT_SENDER=your-email@example.com

# Google OAuth credentials
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=your-pgadmin-password

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

#ElasticSearch
ELASTIC_PASSWORD=passwordElastic
ELASTICSEARCH_HOSTS=http://elasticsearch:9200
ELASTICSEARCH_PASSWORD=passwordElastic

#Fluentd
FLUENTD_ELASTICSEARCH_HOST=elasticsearch
FLUENTD_ELASTICSEARCH_PORT=9200
FLUENTD_ELASTICSEARCH_USER=elastic
FLUENTD_ELASTICSEARCH_PASSWORD=passwordElastic

#Admin
ADMIN_EMAIL=your@gmail.com
ADMIN_PASSWORD=your-strong-password
ADMIN_NAME=Your Name
ADMIN_USERNAME=admin