instance/
.env
.venv/
venv/
ENV/
env/
*.env
.vscode/
.idea/
.DS_Store
*.log
*.sqlite3
*.pem
*.crt
*.key
*.p12
*.der
__pycache__/
*.py[cod].coverage
coverage.xml
test-result/
test-results/
*.pem
myenv/
.coverage
tests/.coverage
monitoring/loki-data/
app/.pytest_cache/
tests/.pytest_cache/
.pytest_cache/
