<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Set Up Password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='oauth_set_up_password.css') }}">
</head>
<body>
  <div class="container">

    <div class="right-panel">
      <div class="form-box">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <div class="flash-messages">
                {% for category, message in messages %}
                  <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}
        <h2>Set up your account</h2>
        <p class="subtext">Create your new password</p>

        <form method="POST" action="{{ url_for('auth.setup_password') }}">
          {{ form.hidden_tag() }}

          <label for="username">Username</label>
          <input type="text" name="username" id="username" value="{{ form.username.data or '' }}" required>

          {% for error in form.username.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}

          <label for="password">Password</label>
          <input type="password" name="password" id="password" required>

          {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}

          <label for="confirm_password">Confirm Password</label>
          <input type="password" name="confirm_password" id="confirm_password" required>

          {% for error in form.confirm_password.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}

          <button type="submit">Set Password</button>
        </form>

        <p class="signup-link">Already have an account? <a href="{{ url_for('auth.login') }}">Log in</a></p>
      </div>
    </div>

    <div class="left-panel">
      <img src="{{ url_for('static', filename='images/pexels-rickyrecap-1964471.jpg') }}" alt="Setup Password Illustration" />
    </div>

  </div>
</body>
</html>
